@model InternetShop.Models.LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<div class="row d-flex align-items-center justify-content-center">
    <div class="col-md-3 card p-3">
        <form asp-action="Login" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-6 or text-center mb-3 or-button">
                <a asp-controller="Users" asp-action="Create" class="btn btn-orange btn-register btn-lg btn-block or-register">Register</a>
            </div>
            <div class="mb-1 or">
                <div class="text-center font-weight-bold">Or</div>
            </div>
            <div class="form-group mb-3">
                <input asp-for="Email" class="form-control" placeholder="Email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <div class="input-group password-group">
                    <input asp-for="Password" type="password" class="form-control" placeholder="Password" id="passwordField" />
                    <div class="input-group-text">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" onclick="togglePasswordVisibility()" id="showPasswordCheckbox">
                        </div>
                    </div>
                </div>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="mb-3 or text-center">
                <input type="submit" value="Sign in" class="btn btn-primary btn-register btn-lg btn-block or-login" />
            </div>
        </form>
    </div>
</div>





@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}