@model InternetShop.Models.Users

@{
    ViewData["Title"] = "EditPassword";
}

<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-lg-4 col-md-6 rounded p-4">
            <h4 class="text-center mb-3" id="registration-heading">Chenge password</h4>
            <form asp-action="EditPassword" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group form-group-edit mb-3">
                    <div class="input-group password-group">
                        <input asp-for="Password" type="password" class="form-control" placeholder="Password" id="passwordField" />
                        <div class="input-group-text">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" onclick="togglePasswordVisibility()" id="showPasswordCheckbox">
                            </div>
                        </div>
                    </div>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <input id="passwordConfirmation" name="passwordConfirmation" type="password" class="form-control" placeholder="Confirm Password" />
                    <span class="text-danger" id="confirmPasswordError"></span>
                </div>
                <div class="form-group mt-3">
                    <input type="submit" value="Save" class="btn btn-register" />
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}